apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
 type: {{ .Values.service.type }}
 selector:
      purpose: helm-deploy
      project: roboshop
 ports:
  - protocol: TCP
    port: {{ .Values.service.servicePort }}
    targetPort: 80 # container port
